<ion-header>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content>
  <ion-list [virtualScroll]="standings" [approxItemHeight]="'132px'" [headerFn]="getHeader">
    <ion-item-divider color="secondary" *virtualHeader="let header">
      {{ header }}
    </ion-item-divider>
    <ion-item *virtualItem="let team">
      <ion-row>
        <ion-col>
          <h2 ion-text color="primary">{{ team.teamName }}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let col of standingCols">
          <h4>{{ col.label }}</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let col of standingCols">
          <h4>{{ team[col.name] }}</h4>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
